body{
	background-image: url(fondo1.jpg);
	background-size: cover;
}
.titulo{

	position: absolute;
	top: -9%;
	left: 24%;
	font-size: 390%;
	font-family: A; 
	color: #8E3DC5; 
	animation-duration: 3s;
	animation-name: anim;
	animation-iteration-count: infinite;
}
@keyframes anim{
	1%{color: #FA8484;}
	10%{color:#FC88D1;}
	20%{color:#D788FC;}
	30%{color:#9188FC;}
	40%{color:#88CAFC;}
	50%{color:#88FCEF;}
	60%{color:#54E595;}
	70%{color:#F8EE7E;}
	80%{color:#F7A76C;}
	90%{color:#FC4949;}
	100%{color:#8E3DC5;}
}
@font-face{
	font-family: A;
	src: url(ejercito.ttf);
}
.tit{
    position: absolute;
	top: -2%;
	left: 36%;
	font-size: 490%;
	font-family: B; 
	color: #FC6F6F;
	text-shadow: 3px 3px 4px rgb(0,0,0), -3px 3px 4px rgb(0,0,0),
	3px -3px 4px rgb(0,0,0), -3px -3px 4px rgb(0,0,0);
}
@font-face{
	font-family: B;
	src: url(sub.otf);
}
.bot1{
	position: absolute;
	top: 31%;
	left: 11%;
	width: 190px;
	height: 40px;
	border-style: solid;
	border-width: 3px;
	background-color: black;
	border-color: white;
	animation-name: E;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes E{
	1%{border-color: #FA8484;}
	10%{border-color:#FC88D1;}
	20%{border-color:#D788FC;}
	30%{border-color:#9188FC;}
	40%{border-color:#88CAFC;}
	50%{border-color:#88FCEF;}
	60%{border-color:#54E595;}
	70%{border-color:#F8EE7E;}
	80%{border-color:#F7A76C;}
	90%{border-color:#FC4949;}
	100%{border-color:#8E3DC5;}
}
.c1{
	display: none;
	/* background-image: linear-gradient (red, red, red, red, 
	red, red, red, red );*/
	background-image: linear-gradient(to right, rgb(135, 134, 134), 
    rgb(163, 162, 162), rgb(204, 202, 202), rgb(220, 218, 218), 
    rgb(236, 235, 235), rgb(220, 218, 218),
    rgb(204, 202, 202), rgb(163, 162, 162), rgb(135, 134, 134));
	position: absolute;
	width: 520px;
	height: 400px;
	top: -10%;
	left: 127%;
	border-width: 3px;
	border-color: black;
	border-style: double;
}
.bot1:active .c1{
	display: block;
}
.pa1{
	display: none;
}
.bot1:active .pa1{
	display: block;
    position: absolute;
    top: -1%;
    left: 2%;
    font-family: F;
    font-size: 119%;

}
.p1{
	position: absolute;
	top: -85%;
	left: 20%;
    font-family: C;
    font-size: 205%;
    color: white;
    animation-name: Ee;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.im1{
	display: none;
	position: absolute;
	top: 35%;
	left: 295%;
	border-style: double;
	border-color: #C8495F;
	border-width: 3px;
}
.bot1:active .im1{
	display: block;
}
.bot2{
	position: absolute;
	top: 31%;
	right: 10%;
	width: 190px;
	height: 60px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	background-color: white;
	animation-name: Ev;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes Ev{
	1%{border-color: #FA8484;}
	10%{border-color:#FC88D1;}
	20%{border-color:#D788FC;}
	30%{border-color:#9188FC;}
	40%{border-color:#88CAFC;}
	50%{border-color:#88FCEF;}
	60%{border-color:#54E595;}
	70%{border-color:#F8EE7E;}
	80%{border-color:#F7A76C;}
	90%{border-color:#FC4949;}
	100%{border-color:#8E3DC5;}
}
.c2{
	display: none;
	/* background-image: linear-gradient (black, gray, gray, gray, 
	gray, gray, gray, black );*/
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(252, 167, 167),
	rgb(250, 199, 250), rgb(213, 173, 249), rgb(173, 176, 249), rgb(173, 230, 249),
	rgb(173, 249, 215), rgb(173, 249, 184), rgb(249, 245, 173),
	rgb(249, 209, 173), rgb(255, 255, 255));
	border-width: 3px;
	border-color: black;
	border-style: double;

}
.bot2:active .c2{
	display: block;
	position: absolute;
	width: 520px;
	height: 400px;
	top: -10%;
	right: 127%;
	border-width: 3px;
	border-color: black;
	border-style: double;
}
.p2{
	position: absolute;
	top: -55%;
	left: 13%;
    font-family: C;
    font-size: 205%;
    color: black;
}
.p22{
	position: absolute;
	top: -11%;
	left: 23%;
    font-family: C;
    font-size: 205%;
    color: black;
}
.pa2{
	display: none;
}
.bot2:active .pa2{
	display: block;
	position: absolute;
	top: 1%;
	left: 3%;
	font-size: 119%;
    font-family: F; 
}
.im2{
	display: none;
	position: absolute;
	top: 35%;
	right: 137%;
	border-style: double;
	border-color: #C8495F;
	border-width: 3px;
}
.bot2:active .im2{
	display: block;
}
.bot3{
	position: absolute;
	top: 89%;
	left: 10%;
	width: 210px;
	height: 40px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	background-color: white;
	animation-name: Eve;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes Eve{
	1%{border-color: #FA8484;}
	10%{border-color:#FC88D1;}
	20%{border-color:#D788FC;}
	30%{border-color:#9188FC;}
	40%{border-color:#88CAFC;}
	50%{border-color:#88FCEF;}
	60%{border-color:#54E595;}
	70%{border-color:#F8EE7E;}
	80%{border-color:#F7A76C;}
	90%{border-color:#FC4949;}
	100%{border-color:#8E3DC5;}
}
.c3{
	display: none;
	/* background-image: linear-gradient (black, gray, gray, gray, 
	gray, gray, gray, black );*/
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(252, 167, 167),
	rgb(250, 199, 250), rgb(213, 173, 249), rgb(173, 176, 249), rgb(173, 230, 249),
	rgb(173, 249, 215), rgb(173, 249, 184), rgb(249, 245, 173),
	rgb(249, 209, 173), rgb(255, 255, 255));
	border-width: 3px;
	border-color: black;
	border-style: double;
}
.bot3:active .c3{
	display: block;
	position: absolute;
	width: 520px;
	height: 400px;
	top: -891%;
	left: 120%;
}	
.p3{
	position: absolute;
	top: -70%;
	left: 10%;
    font-family: C;
    font-size: 205%;
    color: black;   
}
.pa3{
	display: none;
	position: absolute;
	top: 1%;
	left: 2%;
	font-size: 119%;
    font-family: F;
}
.im3{
	display: none;
	position: absolute;
	top: -835%;
	left: 202%;
	border-style: double;
	border-color: #C8495F;
	border-width: 3px;
}
.bot3:active .im3{
	display: block;
}
.bot3:active .pa3{
	display: block;
}
.bot4{
	position: absolute;
	top: 89%;
	right: 10%;
	width: 190px;
	height: 40px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	background-color: white;
	animation-name: Evel;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes Evel{
	1%{border-color: #FA8484;}
	10%{border-color:#FC88D1;}
	20%{border-color:#D788FC;}
	30%{border-color:#9188FC;}
	40%{border-color:#88CAFC;}
	50%{border-color:#88FCEF;}
	60%{border-color:#54E595;}
	70%{border-color:#F8EE7E;}
	80%{border-color:#F7A76C;}
	90%{border-color:#FC4949;}
	100%{border-color:#8E3DC5;}
}
.c4{
	display: none;
	/* background-image: linear-gradient (red, red, red, red, 
	red, red, red, red );*/
	background-image: linear-gradient(to right, rgb(135, 134, 134), 
    rgb(163, 162, 162), rgb(204, 202, 202), rgb(220, 218, 218), 
    rgb(236, 235, 235), rgb(220, 218, 218),
    rgb(204, 202, 202), rgb(163, 162, 162), rgb(135, 134, 134));
	position: absolute;
}
.bot4:active .c4{
	display: block;
	position: absolute;
	width: 520px;
	height: 400px;
	top: -891%;
	right: 130%;
	border-width: 3px;
	border-color: black;
	border-style: double;
}
.p4{
	position: absolute;
	top: -75%;
	left: 21%;
    font-family: C;
    font-size: 205%;
    color: black;
}
.pa4{
	display: none;
	position: absolute;
	top: 1%;
	left: 3%;
	font-family: F;
	font-size: 119%;
}
.bot4:active .pa4{
	display: block;
}
@font-face{
	font-family: C;
	src: url(army.ttf);
}
@font-face{
	font-family: D;
	src: url(mi.ttf);
}
.im4{
	display: none;
	position: absolute;
	top: -860%;
	right: 137%;
	border-style: double;
	border-color: #C8495F;
	border-width: 3px;
}
.bot4:active .im4{
	display: block;
}
.bot5{
	position: absolute;
	top: 2%;
	left: 1%;
	width: 20px;
	height: 20px;
	border-width: 3px;
	border-color: white;
	border-style: solid;
	/* background-image: linear-gradient (red, red, red, red, 
	red, red, red, red );*/
	background-image: linear-gradient(to right, rgb(228, 104, 114),
	rgb(250, 140, 148), rgb(246, 186, 190), rgb(250, 140, 148), rgb(228, 104, 114));
}
.c5{
	display: none;
	position: absolute;
	top: 971%;
	left: 2400%;
	width: 300px;
	height: 375px;
	background-color: #D0CFCE;
	border-color: black;
	border-width: 3px;
	border-style: dotted;
}
.bot5:hover .c5{
	display: block;
}
.pa5{
	display: none;
	position: absolute;
	top: -8%;
	left: 6%;
	font-family: C;
	font-size: 250%;
	color: #C8495F;
}
.bot5:hover .pa5{
	display: block;
}
.pa55{
	display: none;
	position: absolute;
	top: 8%;
	left: 20%;
	font-size: 150%;
	font-family: D;
}
.bot5:hover .pa55{
	display: block;
}
@font-face{
    font-family: D;
    src: url(a.ttf); 
}
.pa555{
	display: none;
	position: absolute;
	top: 9%;
	left: 25%;
	font-size: 250%;
	font-family: C;
    color: #C8495F;
}
.bot5:hover .pa555{
	display: block;
}
.pa5555{
	display: none;
	position: absolute;
	top: 25%;
	left: 7%;
	font-size: 150%;
	font-family: D;
}
.bot5:hover .pa5555{
	display: block;
}
.par5{
	display: none;
	position: absolute;
	top: 26%;
	left: 8%;
	font-size: 250%;
	font-family: C;
    color: #C8495F;
}
.bot5:hover .par5{
	display: block;
}
.par55{
	display: none;
	position: absolute;
	top: 42%;
	left: 10%;
	font-size: 150%;
	font-family: D;
}
.bot5:hover .par55{
	display: block;
}
.par555{
	display: none;
	position: absolute;
	top: 60%;
	left: 20%;
	font-size: 250%;
	font-family: C;
    color: #C8495F;
}
.bot5:hover .par555{
	display: block;
}
.par52{
	display: none;
	position: absolute;
	top: 65%;
	left: 14%;
	font-size: 250%;
	font-family: C;
    color: #C8495F;
}
.bot5:hover .par52{
	display: block;
}
.par5555{
	display: none;
	position: absolute;
	top: 80%;
	left: 12%;
	font-size: 150%;
	font-family: D;
}
.bot5:hover .par5555{
	display: block;
}
.bot6{
	position: absolute;
	top: 2%;
	right: 2%;
	width: 20px;
	height: 20px;
	border-width: 3px;
	border-color: white;
	border-style: solid;
	/* background-image: linear-gradient (red, red, red, red, 
	red, red, red, red );*/
	background-image: linear-gradient(to right, rgb(228, 104, 114),
	rgb(250, 140, 148), rgb(246, 186, 190), rgb(250, 140, 148), rgb(228, 104, 114));
}
.c6{
	display: none;
	position: absolute;
	top: 971%;
	right: 2400%;
	width: 300px;
	height: 110px;
	background-color: #D0CFCE;
	border-color: black;
	border-width: 3px;
	border-style: dotted;
}
.bot6:hover .c6{
	display: block;
}
.pa6{
    position: absolute;
    top: -33%;
    left: 21%;
    font-size: 250%;
	font-family: C;
    color: #C8495F; 
}
.par6{
    position: absolute;
    top: -10%;
    left: 28%;
    font-size: 250%;
	font-family: C;
    color: #C8495F; 
}
.pa66{
	display: none;
	position: absolute;
	top: 41%;
	left: 30%;
	font-size: 150%;
	font-family: D;
}
.bot6:hover .pa66{
	display: block;
}
.imbot6{
	display: none;
	position: absolute;
	top: 1700%;
	right: 2400%;
	width: 300px;
	height: 210px;
	background-color: #D0CFCE;
	border-color: black;
	border-width: 3px;
	border-style: dotted;
}
.bot6:hover .imbot6{
	display: block;
}
.imbot66{
   display: none;
   position: absolute;
   top: 13%;
   left: 11%;
   border-style: solid;
   border-color: #C8495F;
   border-width: 3px;
}
.bot6:hover .imbot66{
	display: block;
}
@font-face{
	font-family: F;
	src: url(j.ttf);
}
